@import '../../../config/Colors';
@import '../../../config/Constants';

.Chat__Channels {
    width: 175px;
    flex-shrink: 0;
    flex-grow: 0;

    overflow: auto;


    .Chat__Channels__channel {
        font-size: 13px !important;
        overflow: hidden;
        white-space: nowrap;

        > div > div {
            padding: 8px 16px !important;
        }

        .Chat__Channels__channel__nameContainer {
            overflow: hidden;
        }
    }

    .Chat__Channels__subheader {
        padding-top: 8px;
        line-height: 28px !important;
    }
}

.AdminMenu {
    .Chat__Channels__channel {
        padding-left: 32px !important;
    }
    .Chat__Channels__subheader {
        padding-left: 32px !important;
        padding-top: 8px;
        line-height: 28px !important;
    }
}

.Notification_bubble {
    border-radius: 15px;
    color: #fff;
    background: color($red, 600);
    padding: 2px;
    margin-right: -12px;
    margin-left: 2px;
    font-size: 12px;
    min-width: 13px;
    width: auto;
    height: 13px;
    display: inline-block;
    text-align: center;
    line-height: 13px;
    float: right;
    margin-left: 5px;
}

@media only screen and (max-width: $screen-max-xs) {
    /**
     * Hide menu not in the drawer
     */
    .Chat__Channels {
        display: none;
    }
    .AdminMenu {
        .Chat__Channels {
            display: block;
        }
    }

    .Notification_bubble {
        margin-right: 0px;
    }
}
