@import '../Constants';

.ChatMessageForm {
    display: flex;
    flex-basis: 32px;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;
    border-left: 1px solid $background-gray;

    .ChatMessageForm__input, .ChatMessageForm__input:focus {
        flex-grow: 1;
        border: 0;
        outline: 0;
        padding: 0 5px;
        height: 32px;
    }

    .ChatMessageForm__button {
        border-radius: 0;
        flex-basis: 48px;
        flex-shrink: 0;
        flex-grow: 0;
        min-width: 48px !important;

        > button {
            height: 32px !important;
            width: 100%;
            line-height: 32px !important;
        }

        * {
            border-radius: 0 !important;
        }
    }
}
