@import '../Colors';
@import '../Constants';

.ChatPage {
    .ChatMenu {
        max-width: 128px;
        flex-shrink: 0;
        flex-grow: 0;

        overflow: auto;


        .ChatMenu__channel {
            font-size: 13px !important;
            overflow: hidden;
            white-space: nowrap;

            > div > div {
                padding: 8px 16px !important;
            }
        }

        .ChatMenu__subheader {
            padding-top: 8px;
            line-height: 28px !important;
        }
    }
}

.AdminMenu {
    .ChatMenu__channel {
        padding-left: 32px !important;
    }
    .ChatMenu__subheader {
        padding-left: 32px !important;
        padding-top: 8px;
        line-height: 28px !important;
    }
}

.Notification_bubble {
    border-radius: 15px;
    color: #fff;
    background: color($red, 600);
    padding: 2px;
    margin-right: -14px;
    margin-left: 2px;
    font-size: 12px;
    min-width: 13px;
    width: auto;
    height: 13px;
    display: inline-block;
    text-align: center;
    line-height: 13px;
    float: right;
    animation-name: notification_bubble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes notification_bubble {
    0%  {background-color: color($red, 600);}
    25% {background-color: color($red, 200);}
    75% {background-color: color($red, 600);}
}

@media only screen and (max-width: $screen-max-xs) {
    /**
     * Hide menu not in the drawer
     */
    .ChatMenu {
        display: none;
    }
    .AdminMenu {
        .ChatMenu {
            display: block;
        }
    }

    .Notification_bubble {
        margin-right: 0px;
    }
}
