@import '../Constants';

.ChatMessageList {
    background: $background-gray;
    padding: 16px;

    overflow: auto;

    flex-grow: 1;
}

.ChatMessageList__container, .ChatMessageList__container--own {
    display: flex;
    margin-bottom: 16px;


    .ChatMessageList__avatar {
        flex-basis: 40px;
        height: 40px !important;
        flex-shrink: 0;
        flex-grow: 0;
        align-self: flex-end;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    }

    .ChatMessageList__bubbles {
        padding-left: 10px;
        padding-right: 40px;
        display: flex;
    	flex-direction: column;
        align-items: flex-start;
        min-width: 100px;
    }

    .ChatMessageList__bubbles__head {
        font-size: 12px;
        margin-left: 3px;
        color: #666;
    }

    .ChatMessageList__bubbles_bubble {
        margin: 5px 0 0 0;
        padding: 5px;
        font-size: 13px;
        display: block;
        white-space: pre-line;
    }
}

.ChatMessageList__container--own {

    .ChatMessageList__avatar {
        visibility: hidden;
        flex-grow: 1;
    }

    .ChatMessageList__bubbles {
        text-align: right;
        padding-left: 40px;
        padding-right: 0;
        align-items: flex-end;
    }

    .ChatMessageList__bubbles_bubble {
    }
}


@media only screen and (max-width: $screen-max-xs) {
    /**
     * When tabs are hidden
     */
    .ChatMessageList {
        top: $AppBarHeight-xs + $TabsHeight-xs;
    }

}
