@import '../Constants';

.BarCard {
    margin-bottom: 20px;
    cursor: pointer;
}

.BarCard:hover {
    background-color: #e6e6e6 !important;
}

.BarCard__header {
    margin-right: 64px;
}

.UsersLogged {
    float: right;
    margin-top: 16px;
    margin-right: 16px;
}

.CardInfo {
    display: flex;
}

.CardInfo > * {
    margin-left: auto;
    margin-right: auto;
}

.CardInfo_bordered {
    padding: 4px 0;
    background: $theme-primary1Color;
    color: #fff;
}

.CardInfo_container {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid $theme-primary1Color;
}

.Barrels_profitability {
    margin-top: 15px;
}

.CardInfo_title {
    font-size: 14px;
    color: $theme-primary1Color;
    font-weight: 600;
    margin-bottom: 5px;
}
