.BottleChip {

    margin: 3px 2px !important;
    z-index: auto !important;

    .BottleChip__shortname {
        font-size: 13px !important;
    }

    .BottleChip__content {
        margin-left: -5px;
        font-size: 13px;
    }
}
