@import '../Constants';



.AppNavbar {
    cursor: pointer;
    position: inherit !important;
}

/**
 * Reduce size for xs
 */
@media only screen and (max-width: $screen-max-xs) {
    .AppNavbar {
        height: $AppBarHeight-xs;

        > div {
            margin-top: 0 !important;
        }
        > h1 {
            height: $AppBarHeight-xs !important;
            line-height: $AppBarHeight-xs !important;
        }
    }
}
