@import '../Constants';



.AppNavbar {
}

.AppTitle {
    background-image: url('/src/assets/images/flux_logos/flux_logo_large144.png');
}

/**
 * Reduce size for xs
 */
@media only screen and (max-width: $screen-max-xs) {
    .AppNavbar {
        height: $AppBarHeight-xs;

        > div {
            margin-top: 0 !important;
        }
        > h1 {
            height: $AppBarHeight-xs !important;
            line-height: $AppBarHeight-xs !important;
        }
    }
}
