@import 'Colors';

/**
 * Media queries
 */
$screen-max-xs: 48em;
$screen-min-sm: 48em;
$screen-max-sm: 64em;
$screen-min-md: 64em;
$screen-max-md: 75em;
$screen-min-lg: 75em;


/**
 * Sizes
 */
$AppBarHeight: 64px;
$TabsHeight: 48px;
$AppBarHeight-xs: 48px;
$TabsHeight-xs: 0;


/**
 * Theme
 */
$theme-primary1Color: color($blue-grey, 800);
$theme-primary2Color: color($blue-grey, 600);
$theme-primary3Color: color($blue-grey, 400);
$theme-accent1Color: color($cyan, a700);
$theme-accent2Color: color($blue, 500);
$theme-accent3Color: color($cyan, 400);
$theme-textColor: rgba(0, 0, 0, 0.87);
$theme-alternateTextColor: white;
$theme-canvasColor: white;
$theme-borderColor: color($grey, 400);
// $theme-disabledColor: fade(c.darkBlack, 0.3);
$theme-pickerHeaderColor: color($blue-grey, 800);
// $theme-clockCircleColor: fade(c.darkBlack, 0.07);
// $theme-shadowColor: c.fullBlack;
