@import '../Constants';

.StockPage_container {
    padding: 0 10px 10px 10px;
    background-color: $background-gray;

    .BarrelChipContainer {
        margin-bottom: 12px;
    }

    .StockPage__card__body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .StockPage__card {
        margin-top: 10px;
    }
}

.StockPage_filters_container {
    background-color: white;
    padding: 10px;
}





/**
 * For big screen, but the filter paper on the bottom of the screen
 */
@media only screen and (min-width: $screen-min-md) and (min-height: 768px) {
    .StockPage_container {
        margin-top: 130px;
    }

    .StockPage_filters_container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 50;
        box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
        height: 130px;
    }
}
