@import '../Constants';

.AlertButton_button {
    background-color: #fff;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.fullWidth {
    width: 100%;
}

.AlertButton_button:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.AlertButton_active_container {
    width: 100%;
    border: 1px solid black;
    display: flex;
}

.AlertButton_active_container > * {
    display: inline-block;
}

.AlertButton_progress {
    width: 20px;
}

.AlertButton_active_action {

}

.AlertButton_autowidth {
    width: 100%
}

.AlertButton_input_container {
    padding: 10px;
}