@import '../Constants';
@import '../Colors';

.AlertButtons_container {
    padding: 16px !important;
    background: $background-gray;
    height: 100%;
}

.AlertButton_button {
    background-color: #fff;
    border: none;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.AlertButton_button.green_background, .AlertButton_button.orange_background {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.AlertButton_iconButton {
    border: none !important;
    width: auto !important;
    height: auto !important;
    padding: 4px 8px !important;
    background-color: #fff !important;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.fullWidth {
    width: 100%;
}

.AlertButton_button:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}
.AlertButton_button:focus {
    outline: none;
}

.AlertButton_active_container {
    width: 100%;
    display: flex;
    margin-top: 4px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;

    > * {
        display: inline-block;
    }

    > .AlertButton_iconButton:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.AlertButton_autowidth {
    width: 100%;
}

.AlertButton_input_blur {
    z-index: 1400;
    background-color: rgba(0, 0, 0, 0.541176);
    opacity: 0.6;
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.AlertButton_required {
    z-index: 1500;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;

    > .AlertButton_button {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.AlertButton_input_container {
    padding: 0 10px 10px 10px;
    background: #fff;
}

.AlertButton_status {
    width: 20px;
    border-right: 2px solid #fff;
}

.green_background {
    background: color($teal, 600) !important;
    color: #fff !important;
}
button.green_background:hover {
    background: color($teal, 700) !important;
}

.orange_background {
    background: color($orange, 600);
    color: #fff;
}
.orange_background:hover {
    background: color($orange, 700);
}

.red_background {
    background: color($red, 600);
    color: #fff;
}
button.red_background:hover {
    background: color($red, 700);
}

.SmallIcon {
    width: 16px !important;
    height: 16px !important;
}

.whiteIcon {
    color: #fff !important;
}

.greenIcon {
    color: color($green, 600) !important;
}

.AlertButton_input_actions > * {
    display: flex;
    width: 50%;
}
