@import '../Constants';
@import '../Colors';

.AlertButtons_container {
    padding: 16px !important;
    background: $background-gray;
    height: 100%;
}

.AlertButton_button {
    background-color: #fff;
    border: none;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.AlertButton_iconButton {
    border: none !important;
    width: auto !important;
    height: auto !important;
    padding: 4px 8px !important;
    background-color: #fff !important;
}

.fullWidth {
    width: 100%;
}

.AlertButton_button:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.AlertButton_active_container {
    width: 100%;
    display: flex;
    margin-top: 4px;
}

.AlertButton_active_container > * {
    display: inline-block;
}

.AlertButton_autowidth {
    width: 100%
}

.AlertButton_input_blur {
    z-index: 5;
    background: $theme-primary1Color;
    opacity: 0.6;
    top:0;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.AlertButton_required {
    z-index: 10;
    position: relative;
}

.AlertButton_input_container {
    padding: 0 10px 10px 10px;
    background: #fff;
}

.AlertButton_status {
    width: 20px;
    border-right: 2px solid #fff;
}

.green_background, button.green_background:hover {
    background: color($green, 600) !important;
    color: #fff !important;
}

.orange_background, button.orange_background:hover {
    background: color($orange, 600);
    color: #fff;
}

.red_background, button.red_background:hover {
    background: color($red, 600);
    color: #fff;
}

.SmallIcon {
    width: 16px !important;
    height: 16px !important;
}

.whiteIcon {
    color: #fff !important;
}

.greenIcon {
    color: color($green, 600) !important;
}

.AlertButton_input_actions > * {
    display: flex;
    width: 50%;
}
