@import '../../config/Constants';

.ResponsiveDialog {}
.ResponsiveDialog__content {}
.ResponsiveDialog__overlay {}

.ResponsiveDialog__title {
    padding-bottom: 16px !important;
}
.ResponsiveDialog__body {
    padding-top: 16px !important;
}

/**
 * For middle screen size expand but not full screen
 */
@media only screen and (max-width: $screen-max-md) {


    .ResponsiveDialog {
        height: 100%;
        > div {
            height: 100%;
        }
    }

    .ResponsiveDialog__content {
        width: 95% !important;
        transform: none !important;

        height: 100%;
        padding-bottom: 16px;
        > div {
            display: flex;
            flex-direction: column;
            max-height: 100%;

            .ResponsiveDialog__title {
                flex-grow: 0;
                padding: 8px 12px !important;
            }

            .ResponsiveDialog__body {
                flex-grow: 1;
                max-height: none !important;
                padding: 12px 12px 8px 12px !important;
            }

            .ResponsiveDialog__actions {
                flex-grow: 0;
                padding: 8px 12px !important;
            }
        }
    }
}


/**
 * Go into full screen mode for small screens
 */

@media only screen and (max-width: $screen-max-xs) {
    .ResponsiveDialog {
        padding-top: 8px !important;
    }

    .ResponsiveDialog__content {
        width: 97.5% !important;
        padding-bottom: 8px;
    }
}
