@import '../Constants';

.BarHomePage {
    top: $AppBarHeight;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

    > * {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        flex-direction: column;
        overflow: auto;
    }

    > .BarHomePage__alerts {
        flex-grow: 0.8;

        // Prevent button in comment form to become two lines
        min-width: 250px;

        // Fix TextField hidding a line when scrollbar appear when alert button is deployed
        overflow-y:scroll;
    }

    > .BarHomePage__stock {
        flex-grow: 1.5;
    }

    > .BarHomePage__chat {
        flex-grow: 1;
    }
}


@media only screen and (max-width: $screen-max-xs) {
    /**
     * Reduce size of the appbar
     */
    .BarHomePage {
        top: $AppBarHeight-xs;

        > .BarHomePage__alerts, > .BarHomePage__chat, > .BarHomePage__stock {
            flex-grow: 1;
        }
    }


    /**
     * Show only primary view
     */
    .BarHomePage__col--secondary {
        display: none !important;
    }
}
