@import '../../config/Constants';

.TeamStockScene {
    padding: 0 8px 16px 8px;
    margin: 0 !important;

    h4 {
        color: #666;
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: 4px;
    }

    small {
        color: #666;
    }
}
