<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Flux</title>
        <link rel="icon" href="/src/assets/images/flux_logos/flux_favico.ico">
<!-- Monitoring test content
repo=<%= process.env.TRAVIS_REPO_SLUG  %>
branch=<%= process.env.TRAVIS_BRANCH  %>
commit=<%= process.env.TRAVIS_COMMIT  %>
dokkuApp=<%= process.env.DOKKU_APP_NAME %>
-->
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
