@import '../../../config/Constants';

.Alerts__Alert {
    padding-bottom: 10px;
}

.Alerts__Alert__container {
    border-radius: 2px;
    display: flex;
    height: 100%;
    margin-top: 4px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    background-color: white;
}

.Alerts__Alert__team-name__container {
    flex-grow: 0;
    min-width: 55px;
    width: 55px;
    height: 100%;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    cursor: pointer;
    border: 0;
    outline: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: white;

    &:hover {
        background-color: #ebebeb;
    }
}

.Alerts__Alert__team-name__container--warning {
    border-left: solid 4px $background-warning;
}

.Alerts__Alert__team-name__container--serious {
    border-left: solid 4px $background-serious;
}

.Alerts__Alert__team-name {
    font-size: 13px;
    text-align: center;
    width: 100%;
    text-overflow: '';
    overflow: hidden;
}

.Alerts__Alert__separator {
    height: 100%;
    width: 1px;
    flex-direction: row;
    align-items: center;
    display: flex;

    > div {
        height: 70%;
        width: 1px;
        background-color: #d1d1d1;
    }
}

.Alerts__Alert__content {
    flex-grow: 1;
    min-width: 0px;
    margin: 5px;
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    > div {
        width: 100%;
    }
}

.Alerts__Alert__action {
    flex-grow: 0;
    min-width: 40px;
    width: 40px;
    min-height: 36px;
    height: auto;
    padding: 0;
    border: 0;
    cursor: pointer;
    outline: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.Alerts__Alert__action--primary {
    @extend .Alerts__Alert__action;
    background-color: $theme-primary1Color;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    * {
        color: white !important;
    }

    &:hover {
        background-color: #879196;
    }
}

.Alerts__Alert__action--icon {
    @extend .Alerts__Alert__action;
    background-color: white;

    * {
        color: $theme-primary1Color !important;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }

    &:hover {
        @extend .Alerts__Alert__action;
        * {
            color: #879196 !important;
        }
    }

    .Alerts__Alert__action--icon__avatars {
        max-height: 50px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        > * {
            min-height: 10px;
            img {
                height: 22px !important;
                width: 22px !important;
            }
        }

        > *:last-child {
            min-height: 22px;
        }
    }
}

.Alerts__Alert__title p {
    margin: 0 0 3px 0;
    line-height: 1em;
    height: 1em;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Alerts__Alert__description p {
    line-height: 1.2em;
    margin: 0;
    margin:0;
    max-height: 3.6em;
    font-size: 11px;
    overflow: hidden;

    // Automaticaly add '...' on truncate, but still compatible with other browsers
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.__react_component_tooltip {
    max-width: 200px;
    line-height: 16px;
}
